<!DOCTYPE html>
<html>
<head>
  <title>CopyThat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
  <%= link_to 'home', root_path %>
</div>
<%= yield %>

</body>
</html>


   <!--    <div class="nav-white">
        <nav>
          <ul>
            <a href="index.html"></a><!-<li>this item will link to icon that reveals nav list</li> -->
           <!--  <li><a href="join_now.html">JOIN NOW</a></li>
            <li><a href="sign_in.html">SIGN IN</a></li>
            <li><a href="mission_statement.html">MISSION STATEMENT</a></li>
          </ul>
        </nav>
      </div> --> 
