<!DOCTYPE html>
<html>
<head>
  <title>CopyThat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
  <%= link_to 'home', root_path %>
</div>

<div id="nav">
  <%= link_to 'sign in', root_path %>
</div>

<div id="nav">
  <%= link_to 'sign up', root_path %>
</div>

<div id="nav">
  <%= link_to 'mission statement', root_path %>
</div>

<%= yield %>

</body>
</html>
